*{
  padding: 0;
  margin: 0;
  color: white;
  background-color: rgb(21, 21, 21);
}
#root {
  margin: 0;
  padding: 0;
  text-align: center;
  width: auto;
  padding: 0 20px;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 50px;
  width: 100%;
}
#search-bar {
  margin-right: 10px;
  padding: 10px;
  border: .5px solid #e53170;
  border-radius: 5px;
}
.search-bar{
  margin-bottom: 30px;
}
#search-button {
  background-color: #e53170;
  padding: 5px;
  text-decoration: none;
  border-radius: 5px;
  transition: opacity .3s ease;
}
#search-button:hover {
  opacity: .6;
  cursor: pointer;
}
.pink {
  color: #e53170;
  margin-bottom: 10px;
}
.thumbnail {
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.card {
  border: 1px solid white;
  width: 200px;
  margin-top: 30px;
  border-radius: 15px;
  text-align: center;
  overflow: hidden;
  transition: transform .3s ease;
}
.card:hover {
  opacity: .7;
  cursor: pointer;
  transform: scale(1.03);
}
.card h2 {
  padding-bottom: 5px;
}
.card p {
  padding: 10px;
}
.thumbnail-details {
  border-radius: 15px;
  width: 70%;
  margin-bottom: 20px;
}
.instructions {
  margin-bottom: 30px;
}
.instructions h3 {
  margin-bottom: 10px;
}
.ingredients {
  margin-bottom: 20px;
}
.ingredients h3 {
  margin-bottom: 10px;
}
.ingredients ul li {
  list-style-type: none;
}
h1, h2, h3 {
  color: #e53170;
}
.back-button {
  float: left;
  margin-left: 20px;
  background-color: #e53170;
  padding: 5px;
  text-decoration: none;
  border-radius: 5px;
  transition: opacity .3s ease;
}
.back-button:hover {
  opacity: .6;
}