/* body {
  margin: 0;
  padding: 0;
  background-image: url("https://wallpaperaccess.com/full/1663381.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}
html,
body {
  height: 100%;
} */
