:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: aqua;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: rgb(14, 109, 84);
  text-decoration: inherit;
  margin-top: 10px;
}
a:hover {
  color: #dfb733;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("./assets/cocktail_header.jpg");
  background-size: 600px 250px;
  background-repeat: no-repeat;
  background-position: center top 120px;
}

/* h1 {
  font-size: 3.2em;
  margin-bottom: 2px;
} */

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #747bff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.drinkdetails {
  margin-top: 150px;
}

.drinks-grid {
  padding-top: 70px;
  display: grid;
  grid-template-columns: repeat(5, 250px);
  gap: 10px;
  justify-content: center;
}

.drinks-grid-h3 {
  font-size: 22px;
  color: black;
  text-align: center;
  
}

.search {
  margin-top: 200px;
  width: 200px;
  padding: 5px;
  font-size: 16px;
}

.searchbutton {
  font-size: 17px;
  padding: 5px;
  margin-left: 9px;
  padding: 6px 8px;
}

.header-h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 50px; 
  position: center fixed;
  top: 10; /* Position it at the top of the viewport */
  
  width: 100%; /* Set the width to span the viewport */
  z-index: 1; /* Optional: Adjust the z-index to ensure proper layering */
}


.home-h3 {
  font-size: 18px; /* Adjust the font size */
  line-height: 1.8; /* Improve line spacing for readability */
  letter-spacing: 0.05em;
  text-align: center; /* Center the text */
  max-width: 900px; /* Set the maximum width for the paragraph */
  margin: 0 auto; /* Center the container horizontally */
  margin-top: 270px;
  margin-bottom: 150px;
}

.nav-links {
  display: flex;
  justify-content: center;
  font-size: 25px;  
  margin-top: 3px;
  margin-right: 10px;
  position: center fixed;
  top: 10;
 
}


.nav-links a {
  margin: 20px;
  margin-top: 3px;
}

.drinks-grid {
  margin-top: 10px;
}

.card {
  position: relative;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.1); /* Apply a zoom effect on hover */
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(255, 255, 255, 0.5); Adjust the color and opacity as needed */
  opacity: 0; /* Start with zero opacity */
  transition: opacity 0.3s ease; /* Smooth transition */
}

.card:hover::before {
  opacity: 1; /* Show the overlay on hover */
}

.card:hover .drinks-grid-h3 {
  color: #747bff; 
}

.card:hover p {
  color: #747bff;
}

/* .drinks-square:hover {
border: dotted rgb(14, 109, 84);
} */

.ingredients {
  list-style-type: none;
}

.drinkdetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  position: relative;
}

.footer::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  border-top: 1.5px solid black;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: lightgray;
  }
}
