#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.logo {
  width: 75px;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
}

.header .search {
  height: 25%;
  float: right;
}

.list {
  max-height: 100px;
  overflow-x: auto;
  overflow-y: auto;
}

.Nav p {
  display: inline-block;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}

p:hover {
  filter: drop-shadow(0 0 1em white);
  color: blue;
}

